*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #8758ff;
}

.TodoWrapper{
    width: fit-content;
    padding: 5px 30px;
    height: auto;

    background-color: #1a1a40;
    margin: 0 auto;
    transform: translateY(30%);
    border-radius: 5px;
    text-align: center;
}


h1{
    margin-bottom: 0.5rem;
    padding-top: 30px;
    font-size: 1.75rem;
    font-weight: bold;
}
.container-input{
  width: auto;
   height: 40px;
   margin-bottom: 30px;
}

input{
       padding: 8px 16px;
  width: 300px;
    border: 1px solid #8758ff;
    margin-bottom: 2rem;
    margin-top: 1rem;
    outline: none;
    background-color: #1a1a40;
    height: 100%;
}
.btn-add{
    background-color:#8758ff;
    padding: 8px;
    border: none;
    height: 100%;
}


.note-book{
    max-width: 100%;
    padding: 0 20px;
    height: 100%;
    background-color: #8758ff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
  
}
.item{
    text-align: right;
    display: flex;
    gap: 10px;
}

.display{
    display: none;
}
